footer {
    background-color: var(--footer-bg);
    margin: 0 var(--margin);
    padding: 1rem ;
    border-radius: 20px 20px 0 0;

    h1 {
        margin: 0;
        font-size: 1.25rem;
    }

    p {
        margin: 0;
    }

    a {
        padding: 0.5rem 0.75rem;
            background-color: var(--backgroundBtn);
            border-radius: 10px;
            transition: 0.3s;
    }


    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        display: flex;
        align-items: center;
  .fabian-text {
    width: fit-content;
    margin-right: 8px;
    .fa-heart {
      color: #f9063b;
    }
  }
  .fabian-profile {
    width: fit-content;
    display: flex;
    color: var(--text1);
    font-weight: 500;
    background-color: var(--backgroundBtn);
    border-radius: 50px;
    padding: 5px;
    transition: all 0.3s;
    align-items: center;
    margin-right: 8px;
    img {
      border-radius: 100%;
      width: 1.25rem;
      height: auto;
      margin-right: 5px;
    }
  }

  .fabian-profile2 {
    display: flex;
    align-items: center;
}

.fabian-text2 {
    display: flex;
    align-items: center;
}

        li {
            margin: 0 0 0 1rem;
            list-style: none;
        }
    }
}

.footer-emoji {
    border-radius: 100%;
      width: 1.5rem;
      height: auto;
}

.f2 {
    display: none;
}

@media screen and (min-width: 900px) {
    footer {
        p::before {
            content: " • ";
        }

        a:hover {
            background-color: var(--backgroundBtn-hover);
        }

        .fabian-profile:hover {
            background-color: var(--text1);
            color: var(--background1);
            transform: scale(0.96);
            box-shadow: 0px 0px 0px 4px var(--backgroundBtn-hover);
          }
    }

  }

@media screen and (max-width: 900px) {
    footer {
    
        h1 {
            display: none;
        }
    
    
        .footer-container {
            flex-direction: column-reverse;
        }

        .footer-column {
            margin: 0.5rem 0;
            justify-content: center;
    
            .fa-heart {
                color: #F9063B;
            }
    
            li {
                margin: 0;
                list-style: none;
            }
        }

        .footer-legal {
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 1rem;
        }

    }
  }