html {
    scroll-behavior: smooth;
    color: var(--text1);
    font-family: 'Space Grotesk', sans-serif;
  }
  
body {
    background-color: var(--background1);
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

* {
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.page-content {
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover); 
}

:target {
  scroll-margin-top: 120px;
}

main {
  padding: var(--margin);
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.pc {
  display: flex;
  width: 100%;
  justify-content: center;

  img {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .noMobile {
    display: none;
  }

  #cursor-border {
    opacity: 0;
  }
}

::selection {
  background-color: var(--backgroundBtn);
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--text1);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 30px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--text1);
  pointer-events: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="384" height="512" viewBox="0 0 384 512" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73 39.0001C58.2 29.9001 39.6 29.6001 24.5 38.1001C9.4 46.6001 0 62.6001 0 80.0001V432C0 449.4 9.4 465.4 24.5 473.9C39.6 482.4 58.2 482 73 473L361 297C375.3 288.3 384 272.8 384 256C384 239.2 375.3 223.8 361 215L73 39.0001Z" fill="white"/></svg>');
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out, opacity 0.25s ease-out;
  z-index: 999;
}

.contact-me {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  .btn {
      padding: 0.75rem 1rem;
      background-color: var(--backgroundBtn);
      border-radius: 10px;
      transition: 0.3s;
      font-size: 1.25rem;
      margin-right: 2rem;
  }
}

.message-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;

  .btn {
    padding: 0.75rem 1rem;
    background-color: var(--backgroundBtn);
    border-radius: 10px;
    transition: 0.3s;
    font-size: 1.25rem;
}
}

.message {
  border-radius: 60px;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -.015em;
  margin-bottom: 25px;
  border: 3px solid #000;
  padding: 20px 40px 20px;
  position: relative;
  background: #000;
  border-color: #000;
  color: #fff;
}

.message:after {
  width: 34px;
  height: 30px;
  position: absolute;
  left: -.8%;
  bottom: -11px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMy41MiAyOS41OCc+PHBhdGggZD0nTTEzLjQzLDBTMTQuMTEsMTYsMCwyOS41N0MtLjI4LDI5Ljg0LDI4LjY1LDI1LjQ5LDMzLjUyLDZaJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgwKScvPjwvc3ZnPgo=);
  background-position: 0 0;
  transition: opacity .4s;
  background-size: 100% auto;
  content: "";
}


@media screen and (min-width: 900px) {
  
  .contact-me .btn:hover {
    background-color: var(--backgroundBtn-hover);
    transform: scale(1.06);
}

}

@media screen and (max-width: 900px) {
  

.message {
  font-size: 17px;
  padding: 15px 35px 15px;
}

}
