html {
    scroll-behavior: smooth;
    color: var(--text1);
    font-family: 'Space Grotesk', sans-serif;
  }
  
body {
    background-color: var(--background1);
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

* {
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover); 
}

main {
  padding: var(--margin);
}

.soon {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .noMobile {
    display: none;
  }
}