.hero {
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.hero-full {
  height: 100%;
  overflow: hidden;
}

.hero-bg {
    background-color: var(--background3);
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 200;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: inherit;
    width: 100%;
    z-index: 500;
    position: absolute;
    flex-direction: column;
    top: 0;
    padding: var(--margin);

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        color: var(--text2);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 80px;
          margin-left: 0.25rem;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 300;
    }
    

}

.hero-bar-container {
    display: flex;
    align-items: flex-end;
    height: inherit;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;

    .hero-bar {
        position: absolute;
        padding: var(--margin);
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 18px;
    }

    #status-icon {
        padding: 0.375rem;
    }
    
    #spotify {
        margin-left: 1.25rem;
        overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    #spotifyimg {
      display: flex;
      align-items: center;
    }

    img {
      border-radius: 5px;
      width: 30px;
      margin-left: 1.25rem;

    }
}

.circle {
    width: 300px;
    height: 300px;
    background-color: var(--accent2);
    border-radius: 50%;
    z-index: 100;

    --xA: 10px;
    --yA: 10px;
    --xB: 30px;
    --yB: 30px;
  }

  .c1 {
    animation-name: moveCircle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(4.17, 4.67, 4.4, 4.31);
  }

  .c2 {
    animation-name: moveCircle;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.17, .67, .4, .31);
  }

  .c3 {
    animation-name: moveCircle;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.17, .67, .4, .31);
  }


  @keyframes moveCircle {
    0% {
      transform: translate3d(var(--xA), var(--yA), 0);
    }
    100% {
      transform: translate3d(var(--xB), var(--yB), 0);
    }
  }


  .socials{
    padding: 10px 0 0 0;
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;

    li {
      margin: 0 0.25rem;
      font-size: 25px;
      list-style: none;
      transition: 0.3s;
    }

    a {
      padding: 0.8rem;
      border-radius: 50px;
  }

}

.topics {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
 }

 .topic {
  width: 200px;
  height: 200px;
  padding: 3rem;
  margin: 1.5rem;
  background-color: var(--background3);
  background-position: center;
  background-repeat: repeat;
  -webkit-backdrop-filter: blur(1.35rem);
  backdrop-filter: blur(1.35rem);
  border-color: rgba(255,255,255,0.09);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;


  h2 {
    font-size: 1rem;
  }

  img {
    width: 100%;
  }

  .topicimg {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
  }

 }

 .topic:hover {
  background-color: var(--backgroundBtn);
  transform: scale(1.06);
 }

 #maintitle {
  font-size: 5rem;
}

@media screen and (min-width: 900px) {

  .socials:hover {
    li{
      color: var(--scrollbar);
    }
  }

  .socials li:hover {
    transform: scale(1.09);
    color: var(--text1);
}
}

@media screen and (max-width: 900px) {

  .hero-container {

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;

        img {
          height: 70px;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 300;
    }

    .topic {
      h2 {
        font-size: 0.8rem;
        padding-top: 1rem;
      }
    }
}

  .hero-bar  {
    display: none;
  }

  .hero-bar-container {

    .hero-bar{
      font-size: 16px;
      left: 0;
      justify-content: space-between;
    }
  }

  #maintitle {
    font-size: 3rem;
  }

  .topic {
    width: 160px;
    height: 160px;
    padding: 1rem;
    margin: 0.5rem;

    .topicimg {
      width: 80px;
      height: 80px;
    }
  }

}

@keyframes wave-animation {
  0% {
   transform:rotate(0deg)
  }
  15% {
   transform:rotate(14deg)
  }
  30% {
   transform:rotate(-8deg)
  }
  40% {
   transform:rotate(14deg)
  }
  50% {
   transform:rotate(-4deg)
  }
  60% {
   transform:rotate(10deg)
  }
  70% {
   transform:rotate(0deg)
  }
  to {
   transform:rotate(0deg)
  }
 }
