nav {
    position: fixed;
    padding: 1.5rem var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left:0;
    right:0;
    box-sizing: border-box;
    right: 0;
    left: 0;
    top: 0;
    z-index: 600;
    border-radius: 30px;
    padding: 1rem;
    margin: var(--margin) var(--margin);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    border-color: rgba(255,255,255,0);

    .nav-links {
        left: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: absolute;

        li {
            margin: 0 1rem;
            font-size: 18px;
            list-style: none;
            z-index: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            padding: 0.75rem 1rem;
            background-color: var(--backgroundBtn);
            border-radius: 10px;
            transition: 0.3s;
        }

    }

    .nav-btns {
        left: 0;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0.25rem;
            font-size: 21px;
            list-style: none;
            z-index: 600;
        }

        a {
            display: inline-block;
            padding: 0.75rem 1rem;
            background-color: var(--backgroundBtn);
            border-radius: 10px;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            i {
                position: absolute;
            }

            .menuIcon {
                transform: translateX(-10%);
            }
            
        }
    }

    h1 {
        margin: 0; 
    }

    #hamburger {
        display: none;
    }

}

@media screen and (min-width: 900px) {
  
    .nav-links a:hover {
      background-color: var(--backgroundBtn-hover);
      transform: scale(1.06);
  }

  .nav-btns a:hover {
    background-color: var(--backgroundBtn-hover);
    transform: scale(1.06);
  }
}

  @media screen and (max-width: 1200px) {

    nav {
        justify-content: none;
        backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

        #hamburger {
            display: inline-block;
          }
          
          .nav-links {
            position: fixed;
            display: block;
            transform: translateY(-100%);
            transition: transform 0.2s;
            z-index: -1;
            list-style: none;
            padding: 300px 0 50px 0;
            border-radius: 30px;
          }
          
          .showMenu {
            transform: translateY(10%);
            backdrop-filter: blur(1.35rem);;
            -webkit-backdrop-filter: blur(1.35rem);;
          }

          .closeIcon {
            display: none;
          }

          .menuItem {
            width: 100%;
            margin: 0.25rem;
            text-align: center;
          }
    }
  }

  @media screen and (max-width: 900px) {

    nav {
          h1 {
            font-size: 1.75rem;
        }
    }
  }

  .nav-bg {
    background-color: var(--background3);
    background-size: 512px;
    background-position: center;
    background-repeat: repeat;
    -webkit-backdrop-filter: blur(1.35rem);
    backdrop-filter: blur(1.35rem);
    border-color: rgba(255,255,255,0.09);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }