html {
    --accent1: #85372c;
    --accent2: #85372ccc;
    --background1: #111111;
    --background2: #1c1c1c;
    --background3: #1c1c1c42;
    --background4: #1c1c1cbb;
    --backgroundBtn: #f6f6f61a;
    --backgroundBtn-hover: #f6f6f641;
    --text1: #F6F6F6;
    --scrollbar: #f6f6f679;
    --scrollbar-hover: #f6f6f6be;
    --footer-bg: #1c1c1c;

    --margin: 1.25rem;
    --dark: 1;
    --light: 0;
}


.lightmode {
    --background1: #F6F6F6;
    --background2: #d3d3d3;
    --background3: #d3d3d342;
    --background4: #d3d3d3bb;
    --backgroundBtn: #1c1c1c1a;
    --backgroundBtn-hover: #1c1c1c41;
    --text1: #111111;
    --scrollbar: #1c1c1c50;
    --scrollbar-hover: #1c1c1c;
    --footer-bg: #ffffff;
}

.darkmode {
    --background1: #111111;
    --background2: #1c1c1c;
    --background3: #1c1c1c42;
    --background4: #1c1c1cbb;
    --backgroundBtn: #f6f6f61a;
    --backgroundBtn-hover: #f6f6f641;
    --text1: #F6F6F6;
    --scrollbar: #f6f6f679;
    --scrollbar-hover: #f6f6f6be;
    --footer-bg: #1c1c1c;
}

@media screen and (max-width: 900px) {
    html {
        --margin: 1rem;
    }
  }