html {
    --background1: #181A22;
    --background2: #262935;
    --background3: #26293542;
    --background4: #262935bb;
    --text1: #F6F6F6;
    --scrollbar: #F6F6F6a9;
    --scrollbar-hover: #F6F6F6;
    --footer-bg: #000000;
}

@media (prefers-color-scheme: light) {

    html {
        --background1: #F6F6F6;
        --background2: #9599ac42;
        --background3: #9599ac42;
        --background4: #9599acbb;
        --text1: #181A22;
        --scrollbar: #181A22a9;
        --scrollbar-hover: #181A22;
        --footer-bg: #ffffff;
    }

  }

.lightmode {
        --background1: #F6F6F6;
        --background2: #9599ac42;
        --background3: #9599ac42;
        --background4: #9599acbb;
        --text1: #181A22;
        --scrollbar: #181A22a9;
        --scrollbar-hover: #181A22;
        --footer-bg: #ffffff;
}

.darkmode {
    --background1: #181A22;
    --background2: #262935;
    --background3: #26293542;
    --background4: #262935bb;
    --text1: #F6F6F6;
    --scrollbar: #F6F6F6a9;
    --scrollbar-hover: #F6F6F6;
    --footer-bg: #000000;
}